#site-footer{
	font-family: $font1;
	border-top: solid thin var(--light-grey);
	margin-top: rem(34);
	padding: rem(66) 0;
	text-align: center;
	#searchform{
		margin: rem(34) 0;
		input{
			border: solid thin var(--light-grey);
		}
		[type="submit"]{
			color: var(--text-color);
			border: none;
			background-color: transparent;
			transition: color 0.3s;
			@include text4;
			&:hover{
				color: var(--main-color);
			}
		}
	}
}