@function rem($val){
	@return $val / 16 * 1rem;
}


@mixin reset-list{
	margin: 0;
	padding: 0;
	list-style: none;
}


@mixin social-menu{
	@include reset-list;
	display: flex;
	align-items: center;
	gap: rem(25);
	a{	
		svg{
			height: rem(18);
			path{
				fill: var(--text-color);
				transition: fill 0.3s;
			}
		}
		&:hover{
			svg{
				path{
					fill: var(--main-color);
				}
			}
		}
	}
}