@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli.ttf");
}
@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-LightItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

